version: "3.9"

services:

  traction-acapy-image-builder:
    container_name: traction-acapy-image-builder
    pull_policy: if_not_present
    build:
      context: ./services/plugins
      dockerfile: ./docker/Dockerfile
    image: ghcr.io/smartfalcon-io/traction-plugins-acapy:1.0
    entrypoint: "/bin/bash"
    tty: true
    networks:
      - app-network

  traction-agent:
    container_name: traction-agent
    pull_policy: if_not_present
    build:
      context: ./services/aca-py
      dockerfile: Dockerfile.acapy
    image: ghcr.io/smartfalcon-io/traction-agent:1.0
    depends_on:
      traction-acapy-image-builder:
        condition: service_started
      traction-db:
        condition: service_healthy
    environment:
      - TRACTION_ENV=${TRACTION_ENV}
      - EC2_PUBLIC_DNS=${EC2_PUBLIC_DNS}
      - EC2_PUBLIC_IP=${EC2_PUBLIC_IP}
      - NGROK_NAME=ngrok-traction-agent
      - TRACTION_ACAPY_HTTP_PORT=${TRACTION_ACAPY_HTTP_PORT}
      - TRACTION_ACAPY_ADMIN_PORT=${TRACTION_ACAPY_ADMIN_PORT}
      - TRACTION_ACAPY_WALLET_NAME=${TRACTION_ACAPY_WALLET_NAME}
      - TRACTION_ACAPY_WALLET_ENCRYPTION_KEY=${TRACTION_ACAPY_WALLET_ENCRYPTION_KEY}
      - TRACTION_ACAPY_WALLET_SCHEME=${TRACTION_ACAPY_WALLET_SCHEME}
      - POSTGRESQL_HOST=${POSTGRESQL_HOST}
      - POSTGRESQL_USER=${POSTGRESQL_USER}
      - POSTGRESQL_PASSWORD=${POSTGRESQL_PASSWORD}
      - TRACTION_MULTITENANCY_CONFIGURATION_WALLET_TYPE=${TRACTION_MULTITENANCY_CONFIGURATION_WALLET_TYPE}
      - TRACTION_MULTITENANCY_CONFIGURATION_WALLET_NAME=${TRACTION_MULTITENANCY_CONFIGURATION_WALLET_NAME}
      - ACAPY_LOG_LEVEL=${ACAPY_LOG_LEVEL}
      - ACAPY_AUTO_PROVISION=${ACAPY_AUTO_PROVISION}
      - ACAPY_WALLET_TYPE=${ACAPY_WALLET_TYPE}
      - ACAPY_WALLET_STORAGE_TYPE=${ACAPY_WALLET_STORAGE_TYPE}
      - ACAPY_GENESIS_TRANSACTIONS_LIST=${ACAPY_GENESIS_TRANSACTIONS_LIST}
      - ACAPY_READ_ONLY_LEDGER=${ACAPY_READ_ONLY_LEDGER}
      - ACAPY_LABEL=${ACAPY_LABEL}
      - ACAPY_ADMIN_API_KEY=${ACAPY_ADMIN_API_KEY}
      - ACAPY_ADMIN_INSECURE_MODE=${ACAPY_ADMIN_INSECURE_MODE}
      - ACAPY_AUTO_ACCEPT_INVITES=${ACAPY_AUTO_ACCEPT_INVITES}
      - ACAPY_AUTO_ACCEPT_REQUESTS=${ACAPY_AUTO_ACCEPT_REQUESTS}
      - ACAPY_AUTO_RESPOND_MESSAGES=${ACAPY_AUTO_RESPOND_MESSAGES}
      - ACAPY_AUTO_RESPOND_CREDENTIAL_PROPOSAL=${ACAPY_AUTO_RESPOND_CREDENTIAL_PROPOSAL}
      - ACAPY_AUTO_RESPOND_CREDENTIAL_OFFER=${ACAPY_AUTO_RESPOND_CREDENTIAL_OFFER}
      - ACAPY_AUTO_RESPOND_CREDENTIAL_REQUEST=${ACAPY_AUTO_RESPOND_CREDENTIAL_REQUEST}
      - ACAPY_AUTO_RESPOND_PRESENTATION_PROPOSAL=${ACAPY_AUTO_RESPOND_PRESENTATION_PROPOSAL}
      - ACAPY_AUTO_RESPOND_PRESENTATION_REQUEST=${ACAPY_AUTO_RESPOND_PRESENTATION_REQUEST}
      - ACAPY_AUTO_VERIFY_PRESENTATION=${ACAPY_AUTO_VERIFY_PRESENTATION}
      - ACAPY_AUTO_PING_CONNECTION=${ACAPY_AUTO_PING_CONNECTION}
      - ACAPY_MONITOR_PING=${ACAPY_MONITOR_PING}
      - ACAPY_PUBLIC_INVITES=${ACAPY_PUBLIC_INVITES}
      - ACAPY_MULTITENANT=${ACAPY_MULTITENANT}
      - ACAPY_MULTITENANT_ADMIN=${ACAPY_MULTITENANT_ADMIN}
      - ACAPY_MULTITENANT_JWT_SECRET=${ACAPY_MULTITENANT_JWT_SECRET}
      - ACAPY_MULTITENANCY_CONFIGURATION=${ACAPY_MULTITENANCY_CONFIGURATION}
      - ACAPY_EMIT_NEW_DIDCOMM_PREFIX=${ACAPY_EMIT_NEW_DIDCOMM_PREFIX}
      - ACAPY_EMIT_NEW_DIDCOMM_MIME_TYPE=${ACAPY_EMIT_NEW_DIDCOMM_MIME_TYPE}
      - ACAPY_TAILS_SERVER_BASE_URL=${ACAPY_TAILS_SERVER_BASE_URL}
      - ACAPY_TAILS_SERVER_UPLOAD_URL=${ACAPY_TAILS_SERVER_UPLOAD_URL}
      - ACAPY_PRESERVE_EXCHANGE_RECORDS=${ACAPY_PRESERVE_EXCHANGE_RECORDS}
      - ACAPY_AUTO_STORE_CREDENTIAL=${ACAPY_AUTO_STORE_CREDENTIAL}
      - ACAPY_NOTIFY_REVOCATION=${ACAPY_NOTIFY_REVOCATION}
      - ACAPY_MONITOR_REVOCATION_NOTIFICATION=${ACAPY_MONITOR_REVOCATION_NOTIFICATION}
      - ACAPY_ENDORSER_ROLE=${ACAPY_ENDORSER_ROLE}
      - ACAPY_AUTO_REQUEST_ENDORSEMENT=${ACAPY_AUTO_REQUEST_ENDORSEMENT}
      - ACAPY_AUTO_WRITE_TRANSACTIONS=${ACAPY_AUTO_WRITE_TRANSACTIONS}
      - ACAPY_AUTO_PROMOTE_AUTHOR_DID=${ACAPY_AUTO_PROMOTE_AUTHOR_DID}
      - ACAPY_CREATE_REVOCATION_TRANSACTIONS=${ACAPY_CREATE_REVOCATION_TRANSACTIONS}
      - ACAPY_PLUGIN_CONFIG=${ACAPY_PLUGIN_CONFIG}
      - RUST_LOG=error
    ports:
      - ${TRACTION_ACAPY_ADMIN_PORT}:${TRACTION_ACAPY_ADMIN_PORT}
      - ${TRACTION_ACAPY_HTTP_PORT}:${TRACTION_ACAPY_HTTP_PORT}
    entrypoint: /bin/bash
    command: ["-c", "sleep 5; ./ngrok-wait.sh"]
    volumes:
      - "./plugin-config.yml:/home/aries/plugin-config.yml"
      - "./ledgers.yml:/home/aries/ledgers.yml"
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - app-network

  traction-db:
    container_name: traction-db
    image: "ghcr.io/smartfalcon-io/postgres:14.5"
    environment:
      - POSTGRES_USER=${POSTGRESQL_USER}
      - POSTGRES_PASSWORD=${POSTGRESQL_PASSWORD}
      - POSTGRES_DB=${POSTGRESQL_DB}
    ports:
      - ${POSTGRESQL_PORT}:5432
    volumes:
      - traction-wallet:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - app-network    

  tenant-ui:
    container_name: tenant-ui
    pull_policy: if_not_present
    build:
      context: ./services/tenant-ui
      dockerfile: Dockerfile
    image: ghcr.io/smartfalcon-io/tenant-ui:1.0
    depends_on:
      tenant-proxy:
        condition: service_started
    environment:
      - SERVER_TRACTION_URL=${SERVER_TRACTION_URL}
      - FRONTEND_TENANT_PROXY_URL=${FRONTEND_TENANT_PROXY_URL}
      - IMAGE_BUILDTIME=${IMAGE_BUILDTIME}
      - IMAGE_TAG=${IMAGE_TAG}
      - IMAGE_VERSION=${IMAGE_VERSION}
      - UX_APP_TITLE=${UX_APP_TITLE}
      - UX_APP_INNKEEPER_TITLE=${UX_APP_INNKEEPER_TITLE}
      - UX_SIDEBAR_TITLE=${UX_SIDEBAR_TITLE}
      - UX_COPYRIGHT=${UX_COPYRIGHT}
      - UX_OWNER=${UX_OWNER}
      - FRONTEND_QUICK_CONNECT_ENDORSER_NAME=${FRONTEND_QUICK_CONNECT_ENDORSER_NAME}
      - SERVER_SMTP_SERVER=maildev
      - SERVER_SMTP_PORT=1025
    ports:
      - ${TENANT_UI_PORT}:8080
    volumes:
      - ./services/tenant-ui/config/forms:/usr/src/app/frontend/dist/forms
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - app-network

  tenant-proxy:
    container_name: tenant-proxy
    pull_policy: if_not_present
    build:
      context: ./services/plugins
      dockerfile: ./docker/Dockerfile.tenant-proxy
    image: ghcr.io/smartfalcon-io/tenant-proxy:1.0
    depends_on:
      traction-agent:
        condition: service_started
    restart: unless-stopped
    environment:
      - ACAPY_ADMIN_URL=${TRACTION_ACAPY_ADMIN_URL}
      - ACAPY_ADMIN_URL_API_KEY=${ACAPY_ADMIN_API_KEY}
    ports:
      - ${TENANT_PROXY_PORT}:8080
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - app-network

  maildev:
    container_name: maildev
    image: ghcr.io/smartfalcon-io/maildev/maildev:latest
    ports:
      - "1080:1080"
      - "1025:1025"
    networks:
      - app-network

  ion-ledger-web-ui: 
    container_name: ion-ledger-web-ui
    image: ghcr.io/smartfalcon-io/ionledger-web-ui-did-indy:latest
    restart: unless-stopped
    ports:
      - "3000:80"
    environment:
      - API_BASE=${REACT_APP_API_BASE}
      - API_MOBILE_BASE=${REACT_APP_API_MOBILE_BASE}
    networks: 
      - app-network

  issuer-apis: 
    container_name: issuer-apis
    image: ghcr.io/smartfalcon-io/batterypassport_issuer_apis-fastapi:1.0
    restart: unless-stopped
    ports:
      - "8087:8087"
    environment:
      - BASE_URL=${BASE_URL}
      - ISSUE_TENANT_ID=${ISSUE_TENANT_ID}
      - ISSUE_WALLET_KEY=${ISSUE_WALLET_KEY}
      - FETCH_TENANT_ID=${FETCH_TENANT_ID}
      - FETCH_WALLET_KEY=${FETCH_WALLET_KEY}
      - ISSUER_WALLET_ID=${ISSUER_WALLET_ID}
      - ISSUER_WALLET_KEY=${ISSUER_WALLET_KEY}
      - HOLDER_WALLET_ID=${HOLDER_WALLET_ID}
      - HOLDER_WALLET_KEY=${HOLDER_WALLET_KEY}
      - VERIFIER_WALLET_ID=${VERIFIER_WALLET_ID}
      - VERIFIER_WALLET_KEY=${VERIFIER_WALLET_KEY}
      - VERIFIER_TENANT_ID=${VERIFIER_TENANT_ID}
      - CONNECTION_ID=${CONNECTION_ID}
      - ISSUER_DID=${ISSUER_DID}
      - SCHEMA_ID=${SCHEMA_ID}
      - SCHEMA_ISSUER_DID=${SCHEMA_ISSUER_DID}
      - SCHEMA_NAME=${SCHEMA_NAME}
      - SCHEMA_VERSION=${SCHEMA_VERSION}
      - CRED_DEF_ID=${CRED_DEF_ID}
      - TOKEN_URL=http://keycloak:8080/admin/realms/master/protocol/openid-connect/token
      - ADMIN_API_BASE=f"{KEYCLOAK_URL}admin/realms/{REALM}"
      - REALM=${REALM}
    networks: 
      - app-network

  keycloak:
   container_name: keycloak
   image: quay.io/keycloak/keycloak:26.3.3
   command: start-dev
   volumes:
      - keycloak_data:/opt/keycloak/data
   environment:
    # Admin credentials
     KEYCLOAK_ADMIN: "admin"
     KEYCLOAK_ADMIN_PASSWORD: "admin"

    # Database config
     KC_DB: "postgres"
     KC_DB_URL_HOST: "postgres"
     KC_DB_URL_DATABASE: "keycloak"
     KC_DB_USERNAME: "keycloak"
     KC_DB_PASSWORD: "keycloak"

    # Hostname and proxy config
     KC_HOSTNAME: "bpass.ionledger.co.in"
     KC_HOSTNAME_STRICT: "false"
     KC_HOSTNAME_STRICT_HTTPS: "true"
     KC_PROXY: "edge"
     KC_HTTP_ENABLED: "true"
     KC_HTTP_RELATIVE_PATH: "/auth"
     KC_PROXY_HEADERS: "xforwarded"
     KC_HTTPS_PROTOCOLS: "TLSv1.3,TLSv1.2"
     KC_LOG_LEVEL: "INFO,org.keycloak.events=DEBUG"


    # Optional - avoid redirect loops
     KC_HOSTNAME_URL: "https://bpass.ionledger.co.in"
     KC_HOSTNAME_ADMIN_URL: "https://bpass.ionledger.co.in"

   ports:
    - "8080:8080"
   depends_on:
    - postgres
   networks:
    - app-network
 





  postgres:
    container_name: postgres
    image: ghcr.io/smartfalcon-io/postgres:15
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  nginx:
    image: nginx:1.27-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./nginx/www:/var/www/certbot
      - ./nginx/logs:/var/log/nginx
    depends_on:
      - tenant-ui
      - ion-ledger-web-ui
      - issuer-apis
      - traction-agent
    networks:
      - app-network

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./nginx/www:/var/www/certbot
    entrypoint: >
      certbot certonly --webroot
      --webroot-path=/var/www/certbot
      -d bpass.ionledger.co.in
      -d endorser.ionledger.co.in
      --email snehakolimi31012003@gmail.com
      --agree-tos
      --no-eff-email
    networks:
      - app-network

  certbot-renew:
    image: certbot/certbot
    container_name: certbot-renew
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./nginx/www:/var/www/certbot
    entrypoint: sh -c "while :; do certbot renew --quiet; sleep 12h; done"
    networks:
      - app-network


volumes:
  traction-wallet:
  endorser-wallet:
  endorser-wallet-1:
  keycloak_data:
  postgres_data:

networks:
  app-network:
    external: true
